@import "bootstrap/scss/bootstrap";



@font-face {
    font-family: 'Graphik';
    src: url('/src/assets/fonts/Graphik-Medium-Trial.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
 * {
    font-family: 'Graphik', sans-serif;
  }
  


